{% extends 'base.html' %}
{# 标题填充 #}
{% block title %}
我的网站
{% endblock %}

{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{# 内容填充 #}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-success">
                <div class="panel-heading">博客列表（一共有{{ blogs|length }}篇博客）</div>
                <div class="panel-body">
                    {% for blog in blogs %}
                    <div class="blog">
                        <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                        <p>{{ blog.content|truncatewords:30 }}</p>
                    </div>
                    {% empty %}
                    <p>--- 暂无内容，敬请期待！ ---</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-warning">
                <div class="panel-heading">博客分类</div>
                <div class="panel-body">
                    <ul class="blog-types">
                        {% for blog_type in blog_types %}
                        <li>
                            <a href="{% url 'blog_with_type' blog_type.pk %}">
                                {{ blog_type.type_name }}
                            </a>
                        </li>
                        {% empty %}
                        <li>暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
