<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class='nav'>
        <a class='logo' href="{% url 'home' %}">
            <h3>个人博客网站</h3>
        </a>
        <a href="/">首页</a>
        <a href="{% url 'blog_list' %}">博客</a>
    </div>
    {% block content %}{% endblock %}
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		div.nav{
			background-color: #eee;
			border-bottom: 2px solid #0794FB;
			padding: 5 10;
		}
		div.nav a{
			text-decoration: none;//去掉a标签下划线
			color: #F31118;
			padding: 10px 7px;
		}
		div.nav a.logo{
			display: inline-block;//设置块
			font-size: 120%;
		}
	</style>
</body>
</html>